@model MobileShopping.Models.SignUpModel

@{
    ViewBag.Title = "DisplayUsers";
}

@Html.ActionLink("Display users", "Display")

<div class="displayUsers" >
    <h2>User details</h2><hr />
    
    <table class="displayTable" align="center" border="1">
        <tr>
            <td> @Html.DisplayNameFor(model => model.UserName)</td>
            <td>@Html.DisplayFor(model => model.UserName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.MailId)</td>
            <td>@Html.DisplayFor(model => model.MailId)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.Gender)</td>
            <td>@Html.DisplayFor(model => model.Gender)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.Age)</td>
            <td>@Html.DisplayFor(model => model.Age)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.MobileNo)</td>
            <td>@Html.DisplayFor(model => model.MobileNo)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.City)</td>
            <td>@Html.DisplayFor(model => model.City)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "EditUser", "Account") |
    @Html.ActionLink("Delete", "DeleteUser", "Account")
</p>