@model MobileShopping.Models.SignUpModel

@{
    ViewBag.Title = "SignUp";
}
<link href="~/Content/UserStyleSheet.css" rel="stylesheet" />

@using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
{
    <div class="SignUpPage">
        <h2 style="text-align:center;">SignUp</h2>
        <table class="SignUpTble" align="center">
            <tr>
                <td>@Html.LabelFor(model => model.UserName, null, new { @class = "LblSignUp" })</td>
                <td>@Html.TextBoxFor(model => model.UserName, null, new { @class = "TxtSignUp" })</td>
                <td style="color:red">
                    @Html.ValidationMessageFor(model => model.UserName, "")
                </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.MailId, null, new { @class = "LblSignUp" })</td>
                <td>@Html.TextBoxFor(model => model.MailId, null, new { @class = "TxtSignUp" })</td>
                <td style="color:red">@Html.ValidationMessageFor(model => model.MailId)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Password, null, new { @class = "LblSignUp" })</td>
                <td>@Html.PasswordFor(model => model.Password, new { @maxlength = "16", @class = "TxtSignUp" })</td>
                <td style="color:red">@Html.ValidationMessageFor(model => model.Password)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Gender, null, new { @class = "LblSignUp" })</td>
                <td>
                    @Html.RadioButtonFor(m => m.Gender, "Male", new { @class = "TxtSignUpGender" })M
                    @Html.RadioButtonFor(m => m.Gender, "Female", new { @class = "TxtSignUpGender" })F
                    @Html.RadioButtonFor(m => m.Gender, "Other", new { @class = "TxtSignUpGender" })Others
                </td>
                <td style="color:red">@Html.ValidationMessageFor(model => model.Gender)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Age, null, new { @class = "LblSignUp" })</td>
                <td>@Html.TextBoxFor(model => model.Age, null, new { @class = "TxtSignUp" })</td>
                <td style="color:red">@Html.ValidationMessageFor(model => model.Age)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.MobileNo, null, new { @class = "LblSignUp" })</td>
                <td>@Html.TextBoxFor(model => model.MobileNo, null, new { @class = "TxtSignUp" })</td>
                <td style="color:red">@Html.ValidationMessageFor(model => model.MobileNo)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.City, null, new { @class = "LblSignUp" })</td>
                <td>
                    @Html.DropDownList("City", new List<SelectListItem>
           {
                 new SelectListItem{Text="Chennai",Value="1"},
                 new SelectListItem{Text="Coimbatore",Value="2"},
                 new SelectListItem{Text="Madurai",Value="3"},
                 new SelectListItem{Text="Delhi",Value="4"},
                 new SelectListItem{Text="Tirupur",Value="5"},
           }, "Select city", new { @class = "TxtSignUp" })
                </td>
                <td style="color:red">@Html.ValidationMessageFor(model => model.City)</td>
            </tr>
            <tr>
                <td><input type="submit" value="SignUp" class="SignUpBtn" /></td>
            </tr>
        </table>
    </div>
}